<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Client Manager</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" th:href="@{/clients}">Client Manager</a>
			</div>
		</div>
	</nav>

	<section class="section">
		<div class="container">
			<h1 class="title">List client</h1>
			<div class="column">
				<a th:href="@{/clients/add}" class="button is-primary">Add client</a>
			</div>
			
			<table class="table is-striped is-fullwidth">
				<thead>
					<tr>
						<th title="Position">ID</th>
						<th title="First name">First name</th>
						<th title="Last name">Last name</th>
						<th title="Email">Email</th>
						<th title="Action">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="client: ${clients}">
						<td th:text="${client.id}"></td>
						<td th:text="${client.firstName}"></td>
						<td th:text="${client.lastName}"></td>
						<td th:text="${client.email}"></td>
						<td>
							<a th:href="@{/clients/edit/{id}(id=${client.id})}" class="button is-primary">Edit</a>
							<a th:href="@{/clients/{id}(id=${client.id})}" class="button is-primary">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>