<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Client Manager</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>List Client</h1>
		</div>
		<table class="table table-dark">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="client: ${clients}">
					<td th:text="${client.id}"></td>
					<td th:text="${client.firstName}"></td>
					<td th:text="${client.lastName}"></td>
					<td th:text="${client.email}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>