<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Client Manager</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
</head>
</head>
<body>
	<div class = "container">
		<div class = "row">
			<div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center">Create new client</h1>
				<div class = "card-body">
					<form th:action="@{/clients}" th:object = "${client}" method="POST">
						<div class = "form-group">
							<label> Client First Name</label>
							<input
							type= "text"
							name = "firstName"
							th:field = "*{firstName}"
							class = "form-control"
							placeholder = "Enter Client First Name"
							/>

						</div>
						<div class = "form-group">
							<label> Client Last Name</label>
							<input
							type= "text"
							name = "lastName"
							th:field = "*{lastName}"
							class = "form-control"
							placeholder = "Enter Client Last Name"
							/>
						</div>
						<div class = "form-group">
							<label> Client Email</label>
							<input
							type= "text"
							name = "email"
							th:field = "*{email}"
							class = "form-control"
							placeholder = "Enter Client Email"
							/>
						</div>
						<button type="submit" class = "btn btn-primary">
							Submit
						</button>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>