<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Client Manager</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
</head>
<body>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" th:href="@{/clients}">Client Manager</a>
			</div>
		</div>
	</nav>
	<div class="container">
		<h1 class="has-text-centered is-size-2">Edit client</h1>
		<section class="section">
			<div class="columns">
				<div class="card column is-half is-offset-one-quarter">
					<div class="card-content">
						<form th:action="@{/clients/{id} (id=${client.id})}" th:object="${client}" method="POST">
							<div class="field">
								<label class="label">First Name</label>
								<div class="control">
									<input type="text" name="firstName" th:field="*{firstName}"
										class="input" placeholder="Enter Client First Name" />
								</div>
							</div>
							<div class="field">
								<label class="label">Last Name</label>
								<div class="control">
									<input type="text" name="lastName" th:field="*{lastName}"
										class="input" placeholder="Enter Client Last Name" />
								</div>
							</div>
							<div class="field">
								<label class="label">Email</label>
								<div class="control">
									<input type="email" name="lastName" th:field="*{email}"
										class="input" placeholder="Enter Email" />
								</div>
							</div>
							<div class="field is-grouped">
								<div class="control">
									<button type="submit" class="button is-primary">Save</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>